[submodule "Alamofire"]
	path = Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "XCGLogger"]
	path = XCGLogger
	url = https://github.com/DaveWoodCom/XCGLogger.git
[submodule "ExSwift"]
	path = ExSwift
	url = https://github.com/pNre/ExSwift.git
